/* Master styles */
html,
body {
    font-family: "Nunito", sans-serif;
    padding: 0;
    margin: 0px;
    height: 100%;
    background-color: rgb(235, 127, 136);
}

body {
    display: flex;
    flex-direction: column;
}


.grid-container {
    background-color: rgb(235, 127, 136);
    padding: 10px;
    height: 100%;
}

.grid-container>div {
    background-color: rgb(225, 223, 223);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.rest{
    border: solid;
    height: 100%;
}

/*Nav Wrapper*/
.nav-wrapper {
    background-color: rgb(225, 223, 223) !important;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    border: solid black;
}

.nav-wrapper>.left-side>.brand {
    text-transform: uppercase;
    padding: 20px;
    font-size: 1em;
}

.brand:hover {
    border: solid;
}

.right-side {
    display: flex;
}

/*Nav Bar*/
.side-nav-bar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .side-nav-bar {padding-top: 15px;}
    .side-nav-bar a {font-size: 18px;}
}
.side-nav-bar ul {
    list-style-type: none;    /*removes the bullets */
    height: 100%;    /* Full height */
    /*width: 20%;*/
    position: fixed;    /* Make it stick, even on scroll*/
    background-color: transparent;
    overflow-x: hidden;    /* Disable horizontal scroll */
    margin: auto;
    display: inline-block;
    text-align: left;
}

.side-nav-bar li{
    display:block;
    margin: auto;
}


.side-nav-bar ul li a {
    display: block;
    /* display link as block: makes whole link area as clickable*/
    width: 100%;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.side-nav-bar a:hover {
    background-color: rgb(235, 127, 136);
    color: white;
}

.active-nav-link {
    background-color: rgb(235, 127, 136);
    color: white;
}

/*every </li> element apart from the last child*/
li:last-child {
    border-bottom: none;
}




/* Main */
.main {
}

/* Right */
.right {
}
/* Footer */
.footer {
}