/* Master styles */
body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(235, 127, 136);
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}
/*Nav Wrapper*/
.nav-wrapper {
    background-color: rgb(225, 223, 223) !important;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    border: solid black;
}

.nav-wrapper>.left-side {
    display: flex;
}

.nav-wrapper>.right-side {
    text-transform: uppercase;
    padding: 20px;
    font-size: 1em;
}

.right-side:hover {
    border: solid;
}

/*Nav Bar*/
.sidebar {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 0;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: rgb(225, 223, 223);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
    padding-top: 60px;
    border: solid;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: rgb(235, 127, 136);
    color: rgb(225, 223, 223);
}

.active-nav-link {
    background-color: rgb(235, 127, 136);
    color: white;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* Right */
/* .right {
} */
/* Footer */
/* .footer {
} */